<%= link_to "Home page", restaurants_path, class: 'm-3'  %>
<div class="container mt-3">
  <h1> Add a new review: </h1>
  <%= simple_form_for([@restaurant, @review]) do |f| %>
    <%= f.input :rating, collection: 1..5 %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>

</div>
